*{
    margin:0;
	padding:0;
	font-family:Century Gothic;
}
#container{
		margin:0px auto;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../p4.jpg);
	height:90vh;
	background-size:cover;
	background-position:center;
	
}
ul{
	float:right;
	list-style-type:none;
	margin-top:25px;
}
ul li{
	display:inline-block;
}
ul li a{
	text-decoration:none;
	color:#fff;
	padding:7px 25px;
	border: 1px solid #fff;
	transition: 0.6s ease;

}
ul li a:hover{
	background-color: #fff;
	color: #000;
}
.title{
	position:absolute;
	top:60%;
	left:50%;
	transform:translate(-50%,-50%);
}
.title h1{
	color:#fff;
	font-size: 125px;
}
.search{
	position:absolute;
	top:80%;
	left:50%;
	transform:translate(-50%,-50%);
}
.search h1{
	color:#fff;
	font-size: 25px;
}

.search{
	display:inline-block;
}
.search h1 a{
	
	text-decoration:none;
	color:#fff;
	padding:9px 30px;
	border: 2px solid #fff;
	transition: 0.6s ease;

}
.search h1 a:hover{
	background-color: #fff;
	color: #000;
}
@media screen and (min-width: 1800px)
{
	#container{
		width:100%;
		height:100%;
	}
	
}

@media screen and (max-width: 810px)
{
	#container{
		width:180%;
		height: 100%
		display:block;
	}
	
	ul li a{
		display:block;
		padding:2px 10px;
		
	}
	
}
@media screen and (max-width: 510px)
{
	#container{
		width:180%;
		display:block;
	}
	ul li a{
		display:block;
		padding:1px 4px;

	}
	
}

