#container{
		margin:0px auto;

}
.head{
	height: 110px;
	background-color: #000;
}
.head ul{
	float:right;
	list-style-type:none;
	margin-top:1px;
}
.head ul li{
	display:inline-block;
}
.head ul li a{
	text-decoration:none;
	color:#fff;
	padding:7px 25px;
	border: 1px solid #fff;
	transition: 0.6s ease;

}
.head ul li a:hover{
	background-color: #fff;
	color: #000;
}
.head h1 i b {
	font-size: 70px;
	text-shadow: 2px 2px #D3D3D3;
	color: #E0FFFF;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(../p8.jpg);
	height:90vh;
	background-size:cover;
	background-position:center;
	
}

