<!DOCTYPE html>
<html>
<head>
	<title>getyourlinks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylen.css') }}">
</head>
<body>
	<div id="container">
	<header>
		<div class="main">
			<ul>
				<li><a href="/"><b>Home</b></a></li>				
				<li><a href="/signupn"><b>Sign up</b></a></li>
				<li><a href="/loginn"><b>log in</b></a></li>
				<li><a href="/logout"><b>log out</b></a></li>
				<li><a href="/service"><b>Services</b></a></li>
			</ul>
		</div>
		<div class="title">
			<h1>GetYourLinks</h1>
		</div>
		<div class="search">
			<h1><a href="/newsearch">CLICK HERE FOR SEARCHING</a></h1>
		</div>
	</header>
</div>
</body>
</html>