<!DOCTYPE html>
<html>
<head>
	<title>getyourlinks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/> 
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/stylen24.css') }}">
</head>
<body>
	<div id="container">
	<header>
		<div class="main">
			<ul>
				<li><a href="/"><b>Home</b></a></li>				
				<li><a href="/signupn"><b>Sign up</b></a></li>
				<li><a href="/loginn"><b>log in</b></a></li>
				<li><a href="/logout"><b>log out</b></a></li>
				<li><a href="/service"><b>Services</b></a></li>
			</ul>
		</div>
		<div class="title">
			<h1>GetYourLinks</h1>
		</div>
	</header>
	</div>
		<div class="search">
			<h1>Welcome to GetYourLinks!<br>
				This is a content aggregator website where you can get all types of news from different source.Basically we have eight sections for you..latest,trending,education,entertainment,sports,India,cities and world.If you are our resigtered user then everyday you will get latest news in your resigtered mail address.<br>Thank you for your support.
			</h1>
		</div>
	<div class="contact">
	  <h1>CONTACT US:<br>9903622661<br>missantaraghosh709@gmail.com</h1>
	 </div>

</body>
</html>